# Module 5: NumPy, Pandas and External Files

##### Working with data

In [80]:
import pandas as pd
import numpy as np
import os

You can read data from a CSV file using the read_csv function. By default, it assumes that the fields are comma-separated. Pandas supports following file formats:
* read_csv: load delimited data from a file, URL or file-like object. Use comma as default delimiter
* read_tables: load delimited data from a file, URL or file-like object. Use tab (\t) as default delimiter
* read_fwf: Read data in fixed-width column format (that is, no delimiter)
* read_clipboard: version of read_table that reads data from the clipboard. Useful for converting tables from web pages

In [81]:
# Input files must be stored in the same location we have for the notebook
os.getcwd()

'/Users/s_mas/Downloads'

For most of the analysis work, you will be loading the csv, or Excel files. We will only look at read_csv function.

In [85]:
# CSV input
df = pd.read_csv('example.csv')
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [86]:
df.drop('Unnamed: 0', axis=1,inplace=True)

In [87]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [88]:
df.to_csv('example.csv',index=False)

In [ ]:
# Excel input
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')
df

In [78]:
# Excel output
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1',index=False)