# Module 2
### This week, we will cover the following topics:

* Data Types and Data Structures
* Python Syntax
* Variables in Python
* Strings
* Numerical Data Types and Expressions
* Python Lists, Tuples, Dictionaries & Setss & Sets

### Strings

In [ ]:
# Concatenation
var1 = 'Hello'  # String 1
var2 = 'World'  # String 2
var3 = var1 + ' ' + var2  # Concatenate two string as String 3
print(var3)

Hello World

In [ ]:
var1 = 'Python'
len(var1)

6

In [ ]:
name = "Alice"
age = 30
print("Name: {}, Age: {}".format(name, age))

Name: Alice, Age: 30

In [ ]:
number = 1234.56789

# Using str.format()
print("Formatted number: {:,.2f}".format(number))

Formatted number: 1,234.57

In [ ]:
name = "Alice"
age = 30

# Using str.format()
print("Name: {:<3}, Age: {:>3}".format(name, age))

Name: Alice, Age:  30

### Operations

In [ ]:
a = 10
b = 3

# Addition
print(a + b)  # Output: 13
# Subtraction
print(a - b)  # Output: 7
# Multiplication
print(a * b)  # Output: 30
# Division
print(a / b)  # Output: 3.3333333333333335
# Modulus
print(a % b)  # Output: 1
# Exponentiation
print(a ** b) # Output: 1000
# Floor Division
print(a // b) # Output: 3

13
7
30
3.3333333333333335
1
1000
3

In [ ]:
# Relational operators
a = 10
b = 20

print(a == b)
print(a != b)
print(a < b)
print(a <= b)

# Assignment operators
c = 5
c += 2  # c = c + 2
print(c)  # Output: 7

c *= 3  # c = c * 3
print(c)  # Output: 21

c %= 4  # c = c % 4
print(c)  # Output: 1

False
True
True
True
7
21
1

In [ ]:
# Numbers
# Integers
x = 10
y = -3
z = 0

# Float
a = 3.14
b = -0.5

# Addition
print(x + a)  # Integer + Float

# Subtraction
print(a - y)  # Float â€“ Integer

# Multiplication
print(x * b)  # Integer * Float

# Division
print(a / x)  # Float / Integer

13.14
6.140000000000001
-5.0
0.314

### Lists

In [ ]:
# Initial list
my_list = [3, 1, 4, 1, 5, 9]

In [ ]:
# Append an element to the list
my_list.append('2')
print("After appending 2:", my_list)

After appending 2: [3, 1, 4, 1, 5, 9, '2']

In [ ]:
# Update the second element of the list
my_list[1] = 6
print("After updating second element to 6:", my_list)

After updating second element to 6: [3, 6, 4, 1, 5, 9, '2']

In [ ]:
# Remove the last element from the list
my_list.pop()
print("After removing the last element:", my_list)

After removing the last element: [3, 6, 4, 1, 5, 9]

##### Examples

In [ ]:
# List of air quality readings (AQI - Air Quality Index)
aqi_readings = [45, 50, 55, 60, 70, 65, 80, 75, 85, 90]

In [ ]:
# Average AQI
average_aqi = sum(aqi_readings) / len(aqi_readings)
print("Average AQI:", average_aqi)

Average AQI: 67.5

Let's analyze urban traffic data to identify peak traffic hours. This can help city planners optimize traffic signals and reduce congestion:

In [ ]:
# Traffic data for one day (number of vehicles per hour)
traffic_data = [120, 130, 100, 95, 110, 90, 85, 95, 100, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240,
250, 260, 270, 280, 290]

# Calculate the average number of vehicles per hour
average_traffic = sum(traffic_data) / len(traffic_data)
print("Average traffic per hour:", average_traffic)

# Identify peak traffic hour
peak_traffic = max(traffic_data)
peak_hour = traffic_data.index(peak_traffic)
print("Peak traffic hour: {} hs, with {} vehicles".format(peak_hour, peak_traffic))

Average traffic per hour: 176.04166666666666
Peak traffic hour: 23 hs, with 290 vehicles

### Tuples

In [ ]:
# Initial tuple
my_tuple = (1, 'apple', 3.5)

In [ ]:
# Access the second element of the tuple
print("Second element:", my_tuple[1])

Second element: apple

In [ ]:
# Concatenate the tuple with another tuple
new_tuple = my_tuple + (7, 'banana')
print("After concatenation:", new_tuple)

After concatenation: (1, 'apple', 3.5, 7, 'banana')

In [ ]:
# Check if an element exists in the tuple
exists = 'apple' in my_tuple
print("'apple' in tuple:", exists)

'apple' in tuple: True

In [ ]:
# Print the final tuple
print("Final tuple:", my_tuple)

Final tuple: (1, 'apple', 3.5)

##### Examples

In [ ]:
# Initial tuple
another_tuple = ('string', 4.4, 3)

In [ ]:
# Access the first element of the tuple
print("fist element:", another_tuple[0])

fist element: string

In [ ]:
# Update the first element of the tuple
another_tuple[0] = "New"

TypeError: 'tuple' object does not support item assignment

### Dictionaries

In [ ]:
# Initial dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Add a new key-value pair to the dictionary
my_dict['d'] = 4
print("After adding new key-value pair:", my_dict)

After adding new key-value pair: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Update the value of an existing key
my_dict['b'] = 5
print("After updating value of key 'b':", my_dict)

After updating value of key 'b': {'a': 1, 'b': 5, 'c': 3, 'd': 4}

In [ ]:
# Remove a key-value pair from the dictionary
del my_dict['a']
print("After removing key 'a':", my_dict)

After removing key 'a': {'b': 5, 'c': 3, 'd': 4}

##### Examples

In [ ]:
# Dictionary of sensor locations and their respective AQI
sensor_data = {'location1': 45, 'location2': 50, 'location3': 55}
print(sensor_data)

{'location1': 45, 'location2': 50, 'location3': 55}

In [ ]:
# Update AQI for location1
sensor_data['location1'] = 48
print("Updated AQI for location1:", sensor_data['location1'])

Updated AQI for location1: 48

### Sets

In [ ]:
# Create a print a set
my_set1 = {1,2,3}
print("Printing my_set1:", my_set1)

Printing my_set1: {1, 2, 3}

In [ ]:
# Create a print a set
my_set2 = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
print("Printing my_set2:", my_set2)

Printing my_set2: {1, 2, 3}

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [ ]:
[item**2 for item in x]

[1, 4, 9, 16]