# Introduction to Programming for Solving Urban Challenges
## Week 1

### Data types

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
* Exercises
____

#### Numbers

In [ ]:
1+5

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
name_of_var

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
"wrap lot's of other quotes" #include quotes within

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print("the varible is "+x)

In [ ]:
num = 12
name = 'Sergio'

In [ ]:
print('My number is', num, 'and my name is',name)

In [ ]:
print('My number is {} and my name is {}'.format(num,name))

In [ ]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[0:2]

In [ ]:
my_list[1:]

In [ ]:
my_list[:3]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,6]]

In [ ]:
nest

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

In [ ]:
True

In [ ]:
False

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 == 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:

## methods

In [ ]:
st = 'hello my name is Sergio'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
'x' in ['x','y','z']

## exercises

In [ ]:
# Exercise 1: Calculate Average Temperature
# Hint: Use the sum() function and divide by the length of the list

# List of daily temperatures (in degrees Celsius)
temperatures = [20, 22, 19, 21, 20, 18, 23]

# Calculate the average temperature
average_temp = sum(temperatures) / len(temperatures)
print("Average temperature:", average_temp)

In [ ]:
# Exercise 2: Traffic Light Simulation
# Write a Python program to simulate the sequence of a traffic light using conditional statements.

# Hint: Use if, elif, and else statements.

# Traffic light sequence
light = "Red"

if light == "Red":
    print("Stop")
elif light == "Yellow":
    print("Slow down")
elif light == "Green":
    print("Go")
else:
    print("Invalid light color")

## your turn:

In [ ]:
# Exercise 3: Analyze Sales Data
# Write a Python program to analyze monthly sales data and find the month with the highest sales.

# Hint: Use the max() function and index() method.

# Monthly sales data (in units)
sales = [150, 200, 170, 220, 210, 190, 230, 180, 240, 260, 250, 270]

In [ ]:
# Exercise 4: Count Vowels in a String
# Write a Python program to count the number of vowels in a given string.

# Hint: Use a loop to iterate through the string and a condition to check for vowels.

# Input string
text = "Urban Computing and Data Science"

In [ ]:
# Exercise 5: Calculate Water Consumption
# Write a Python program to calculate the average daily water consumption for a week from a list of daily water usage (in liters).

# Hint: Use the sum() function and divide by the length of the list.

# Daily water consumption (in liters)
water_consumption = [250, 300, 200, 275, 320, 290, 310]